<!DOCTYPE html>
<html lang="zh">
<head>
	<meta  charset="utf-8">
	<title>留言板</title>
	<link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
	<h1>
		留言板
	</h1>
	<form action="/post" method="post">
		<p>
			请留言
		</p>
		<table>
			<tr>
				<th>名字</th>
				<td>
					<input type="text" name="name" size="20">
				</td>
			</tr>
			<tr>
				<th>留言</th>
				<td>
					<textarea rows="5" cols="40" name="comment"></textarea>
				</td>
			</tr>
		</table>
		<p>
			<button type="submit">提交</button>
		</p>
	</form>
	<div class="entries-area">
		<h2>留言记录</h2>
        {% for greeting in greeting_list %}
          <h3>{{ greeting.name }}的留言({{ greeting.create_at }}):
          </h3>
          <p>
          	{{ greeting.comment|nl2br }}
          </p>
        {% endfor %}  

	</div>
</body>
</html>